*{
margin: 0;
padding: 0;
}
body{
    font-size: 1.2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: black;
    color:white;
}
#cabecalho{
    background:#f7b600;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;            
}
.img1{
    display: flex;
    align-items: center;

}
#cabecalho img{
    padding: 0px;
    display: flex;
    height: 70px;
    align-items:center;
    margin-left: 30px;   
}       
#introducao{
    margin: 10px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: blue;
}
#introducao-2{
    margin: 10px;
    padding: 10px;
}
.principios{
    margin: 10px;
    padding: 10px;
}
h2{
    text-align: center;
    color:#f7b600;
    margin-bottom: 15px;
}

#rodape{
    background-color: #f7b600;
    text-align: center;
    color:white;
    padding: 10px;
    margin-top: 20px;
}
.legenda{
    text-align: center;
    margin-top: 5px;
}
.paragrafo  {
    margin-top: 10px;
    margin-bottom: 10px;
}   
.imagem-center{
    align-items: center;
}